<h1>This is the garden edit page</h1>
<form class='form-horizontal' action="" method="POST" role="form">
    <div class="form-group">
        <label for="name" >Name</label>
        <input type="text" class="form-control" id="name" name=
        'name' placeholder="plant name" value="<%= plant.name %>">
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <select class = 'form-control' name='color' id = 'color'>
            <option value = 'green'>green</option>
            <option value = 'red'>red</option>
            <option value = 'orange'>orange</option>
            <option value = 'yellow'>yellow</option>
            <option value = 'violet'>purple</option>
            <option value = 'brown'>brown</option>
        </select>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="edible" id="true" value="true" checked>
            This plant is tasty!
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="edible" id="false" value="false">
            Don't eat this plant silly!
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
