<h1 class='text-center'>What a beautiful garden!</h1>
<% plants.forEach(function(plant){ %>
    <div class = 'text-center smallPlant'><p><%= plant.name %></p></div>
    <% console.log(plant.name)  %>
<% })  %>
